Repository Hirundo-io/hirundo-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: python
  pass_filenames: false
  additional_dependencies:
  - basedpyright==1.37.1

pip-compile:
  name: compile requirements/requirements.txt
  entry: uv
  args:
  - pip
  - compile
  - -o
  - requirements/requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-compile-dev:
  name: compile requirements/dev.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - dev
  - -o
  - requirements/dev.txt
  - -c
  - requirements/requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-compile-pandas:
  name: compile requirements/pandas.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - pandas
  - -o
  - requirements/pandas.txt
  - -c
  - requirements/requirements.txt
  language: python
  additional_dependencies:
  - uv

pip-compile-polars:
  name: compile requirements/polars.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - polars
  - -o
  - requirements/polars.txt
  - -c
  - requirements/requirements.txt
  language: python
  additional_dependencies:
  - uv

pip-compile-docs:
  name: compile requirements/docs.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - docs
  - -o
  - requirements/docs.txt
  - -c
  - requirements/requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-compile-transformers:
  name: compile requirements/transformers.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - transformers
  - -o
  - requirements/transformers.txt
  - -c
  - requirements/requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

Fix `numpy` version error
  requirements/pandas.txt
  requirements/transformers.txt
Due: none

Fix requirements files
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/pandas.txt
  requirements/polars.txt
  requirements/requirements.txt
  requirements/transformers.txt
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix retries when HTTP SSE request fails
  hirundo/_run_checking.py
Due: basedpyright

Fix Misha's PR comment
  scripts/cleanup_test_artifacts.py
Due: basedpyright

Fix ChatGPT PR review comments
  hirundo/dataset_qa.py
  hirundo/unlearning_llm.py
Due: basedpyright

Fix Gemini's PR comment
  hirundo/unlearning_llm.py
Due: basedpyright

Fix bug in `deleted_at` field for `OutputUnlearningLlmRun`
  hirundo/unlearning_llm.py
Due: basedpyright

Rename `get_pipeline_for_run` to `get_hf_pipeline_for_run`
  README.md
  hirundo/_llm_pipeline.py
  hirundo/unlearning_llm.py
  tests/unlearning-llm/unlearn_llm_behavior_test.py
Due: basedpyright

Fix `MODEL_FOR_IMAGE_TEXT_TO_TEXT_MAPPING_NAMES` being used instead of `MODEL_FOR_VISION_2_SEQ_MAPPING_NAMES`
  hirundo/_llm_pipeline.py
Due: basedpyright

Fix pydantic error due to class not really being imported at runtime
  hirundo/labeling.py
Due: basedpyright

Fix `deleted_at` being missing crashing the tests
  hirundo/dataset_qa.py
Due: basedpyright

Switch to `API_HOST2` and `API_KEY2` for now until `test` contains LLM behavior unlearning
  .github/workflows/pytest-sanity.yaml
Due: none

Fix unlearning LLM behavior test running on every platform
  tests/unlearning-llm/unlearn_llm_behavior_test.py
Due: basedpyright

SDK-43: Add LLM unlearning models support (#187)
  .github/workflows/lint.yaml
  .github/workflows/pytest-full.yaml
  .github/workflows/pytest-sanity.yaml
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
  DEV_README.md
  README.md
  dev.Dockerfile
  hirundo/__init__.py
  hirundo/_llm_pipeline.py
  hirundo/_run_checking.py
  hirundo/dataset_qa.py
  hirundo/labeling.py
  hirundo/unlearning_llm.py
  pyproject.toml
  requirements/dev.txt
  requirements/pandas.txt
  requirements/polars.txt
  requirements/requirements.txt
  requirements/transformers.txt
  scripts/cleanup_test_artifacts.py
  tests/classification/classification_aws_test.py
  tests/classification/classification_gcp_test.py
  tests/classification/sanity_gcp_test.py
  tests/dataset_qa_shared.py
  tests/get_by_name_test.py
  tests/object-detection/od_aws_test.py
  tests/object-detection/od_git_test.py
  tests/object-detection/rockpaperscisssors_yolo_test.py
  tests/object-detection/sama_coco_test.py
  tests/object-detection/sanity_aws_test.py
  tests/speech-to-text/sanity_stt_git_test.py
  tests/speech-to-text/stt_git_test.py
  tests/testing_utils.py
  tests/unlearning-llm/unlearn_llm_behavior_test.py
  uv.lock
Due: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Basic first implementation of matching naming for `check_run` instead of `stream_results` and adding `tqdm`, unzipping and loading of CSVs
  hirundo/__init__.py
  hirundo/_hirundo_error.py
  hirundo/_llm_pipeline.py
  hirundo/_llm_sources.py
  hirundo/_run_checking.py
  hirundo/_sse_event_data.py
  hirundo/dataset_qa.py
  hirundo/llm_behavior_eval.py
  hirundo/llm_behavior_eval_results.py
  hirundo/llm_bias_type.py
  hirundo/unlearning_llm.py
  hirundo/unzip.py
  tests/llm-behavior-eval/llm_behavior_eval_test.py
Due: basedpyright

Add AGENTS.md and new `dependency_groups` entry of `dev` for development
  .envrc
  .pre-commit-config.yaml
  AGENTS.md
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix `RunStatus` circular dependency
  hirundo/__init__.py
  hirundo/_run_checking.py
  hirundo/_run_status.py
  hirundo/_sse_event_data.py
  hirundo/dataset_qa.py
  hirundo/llm_behavior_eval.py
  hirundo/unlearning_llm.py
  scripts/cleanup_test_artifacts.py
  tests/dataset_qa_shared.py
Due: basedpyright

Drop unnecessary `TypeAdapter` and add error log for invalid SSE payload to make it more debuggable
  hirundo/_sse_event_data.py
Due: basedpyright

Update `AGENTS.md` to use context7 and not use 1-3 character variable names
  AGENTS.md
Due: none

Add assertion for `summary_brief` and `summary_full` to LLM behavior eval test
  tests/llm-behavior-eval/llm_behavior_eval_test.py
Due: basedpyright

Fix SSE payload parsing
  hirundo/_sse_event_data.py
Due: basedpyright

Fix create-release Python version quoting
  .github/workflows/create-release.yaml
Due: none

Fix create-release Python version quoting (#196)
  .github/workflows/create-release.yaml
Due: none

Try to fix `unzip` for LLM behavior eval results
  hirundo/unzip.py
Due: basedpyright

bump version to 0.2.3 - changed by @benglewis to force GitHub Actions to run
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Upgrading to `actions/setup-python` version 6 to get improvements & dropping `python-version`
  .github/workflows/cleanup-test-artifacts.yaml
  .github/workflows/create-release.yaml
  .github/workflows/deploy-to-pypi.yaml
  .github/workflows/lint.yaml
  .github/workflows/pytest-full.yaml
  .github/workflows/pytest-sanity.yaml
  .github/workflows/update-docs.yaml
Due: none

Upgrading to `actions/setup-python` version 6 to get improvements & dropping `python-version` (#199)
  .github/workflows/cleanup-test-artifacts.yaml
  .github/workflows/create-release.yaml
  .github/workflows/deploy-to-pypi.yaml
  .github/workflows/lint.yaml
  .github/workflows/pytest-full.yaml
  .github/workflows/pytest-sanity.yaml
  .github/workflows/update-docs.yaml
Due: none

Fix `.post1`, `.post2`, ... & `.dev1`, `.dev2`, ... version support with `bumpver`
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix `current_version` in `pyproject.toml` and `uv.lock`'s `version` being updated by `bumpver`
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix `bumpver` mistake
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix `bumpver` configuration
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Update `uv.lock` when using `create-release.yaml`
  .github/workflows/create-release.yaml
Due: none

Install `uv` in `create-release.yaml` to fix bug
  .github/workflows/create-release.yaml
Due: none

Fix uncommitted changes on `uv.lock`
  .github/workflows/create-release.yaml
Due: none

Fix missed `git push`
  .github/workflows/create-release.yaml
Due: none

Add `uv.lock` to files that don't need `CODEOWNERS` approval, since this is needed for a release
  .github/CODEOWNERS
Due: none

SDK-84: Add support for `post` in `bumpver` version pattern (#201)
  .github/CODEOWNERS
  .github/workflows/create-release.yaml
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Update `CODEOWNERS`
  .github/CODEOWNERS
Due: none

Fix `create-release.yaml` mistake with `git push`
  .github/workflows/create-release.yaml
Due: none

SDK-85: Fix release pipeline II (#203)
  .github/CODEOWNERS
  .github/workflows/create-release.yaml
Due: none

Path conditions:
  basedpyright: any of: \.py$
  pip-compile: any of: pyproject.toml$
  pip-compile-dev: any of: pyproject.toml$
  pip-compile-pandas: any of: pyproject.toml$
  pip-compile-polars: any of: pyproject.toml$
  pip-compile-docs: any of: pyproject.toml$
  pip-compile-transformers: any of: pyproject.toml$
