Repository Hirundo-io/hirundo-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.4
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --show-fixes]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
    - id: basedpyright
      name: basedpyright
      entry: basedpyright
      language: python
      types: [python]
      pass_filenames: false
      additional_dependencies: [basedpyright==1.37.1]
    - id: pip-compile
      name: compile requirements/requirements.txt
      entry: uv
      args: ["pip", "compile", "-o", "requirements/requirements.txt"]
      language: python
      always_run: false
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-compile-dev
      name: compile requirements/dev.txt
      entry: uv
      args: ["pip", "compile", "--extra", "dev", "-o", "requirements/dev.txt", "-c", "requirements/requirements.txt"]
      language: python
      always_run: false
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-compile-pandas
      name: compile requirements/pandas.txt
      entry: uv
      args: ["pip", "compile", "--extra", "pandas", "-o", "requirements/pandas.txt", "-c", "requirements/requirements.txt"]
      language: python
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-compile-polars
      name: compile requirements/polars.txt
      entry: uv
      args: ["pip", "compile", "--extra", "polars", "-o", "requirements/polars.txt", "-c", "requirements/requirements.txt"]
      language: python
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-compile-docs
      name: compile requirements/docs.txt
      entry: uv
      args: ["pip", "compile", "--extra", "docs", "-o", "requirements/docs.txt", "-c", "requirements/requirements.txt"]
      language: python
      always_run: false
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-compile-transformers
      name: compile requirements/transformers.txt
      entry: uv
      args: ["pip", "compile", "--extra", "transformers", "-o", "requirements/transformers.txt", "-c", "requirements/requirements.txt"]
      language: python
      always_run: false
      files: pyproject.toml$
      additional_dependencies: [uv]
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.6
    hooks:
      - id: uv-lock
      - id: uv-sync
        args: ["--extra", "dev", "--extra", "docs", "--extra", "pandas", "--extra", "polars", "--extra", "transformers"]

SDK-79: Add LLM behavior eval support (#189)
  .envrc
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  docs/dataset_qa_classification_example.py
  docs/dataset_qa_object_detection_example.py
  docs/hirundo.llm_behavior_eval.rst
  docs/hirundo.llm_behavior_eval_results.rst
  docs/hirundo.llm_bias_type.rst
  docs/hirundo.rst
  docs/index.rst
  docs/llm_behavior_eval_example.py
  docs/llm_unlearning_example.py
  hirundo/__init__.py
  hirundo/_hirundo_error.py
  hirundo/_llm_pipeline.py
  hirundo/_llm_sources.py
  hirundo/_run_checking.py
  hirundo/_run_status.py
  hirundo/_sse_event_data.py
  hirundo/dataset_qa.py
  hirundo/llm_behavior_eval.py
  hirundo/llm_behavior_eval_results.py
  hirundo/llm_bias_type.py
  hirundo/unlearning_llm.py
  hirundo/unzip.py
  pyproject.toml
  scripts/cleanup_test_artifacts.py
  tests/dataset_qa_shared.py
  tests/llm-behavior-eval/llm_behavior_eval_test.py
  tests/unlearning-llm/unlearn_llm_behavior_test.py
  uv.lock
Due: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Align `.envrc` with `pre-commit` and docs and other development recommendations
  .envrc
Due: none

Fix `jaraco-context` vulnerability by upgrading
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Change vulnerability scan to run on the `uv` environment with `lowest-direct` resolution to ensure users don't hit vulnerable packages
  .github/workflows/vulnerability-scan.yml
Due: none

bump version to 0.2.3.post2
  docs/_templates/github-pages-redirect.html
  docs/conf.py
  hirundo/__init__.py
  pyproject.toml
Due: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix release flow by re-running PyTest sanity and vulnerability scanning when re-assigning PR
  .github/workflows/pytest-sanity.yaml
  .github/workflows/vulnerability-scan.yml
Due: none

Bump 'uv.lock' version to 0.2.3.post2
  uv.lock
Due: none

Drop irrelevant `matrix` from `vulnerability-scan.yml`
  .github/workflows/vulnerability-scan.yml
Due: none

Ensure that `uv`'s `venv` is activated before scanning for vulnerabilities
  .github/workflows/vulnerability-scan.yml
Due: none

Align `uv venv` and activation order in `vulnerability-scan.yml`
  .github/workflows/vulnerability-scan.yml
Due: none

Change `vulnerability-scan.yml` to install all `groups` and all `extras` to ensure that they are tested for vulnerabilities
  .github/workflows/vulnerability-scan.yml
Due: none

Fix `deploy-docker-image.yaml` disk space issues by changing GitHub Actions runner
  .github/workflows/deploy-docker-image.yaml
Due: none

Fix Cursor's bugbot's comment about `vulnerability-scan.yml` specifically scanning `.venv`
  .github/workflows/vulnerability-scan.yml
Due: none

Update workflows to use setup-uv
  .github/workflows/cleanup-test-artifacts.yaml
  .github/workflows/create-release.yaml
Due: none

Add deploy-only dependency group
  .github/workflows/deploy-to-pypi.yaml
  .github/workflows/update-docs.yaml
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix vulnerabilities
  .codex/environments/environment.toml
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix NumPy being compiled for macOS (which is silly)
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

SDK-87: Migrate to `uv` for development environments & fix vulnerabilities (#208)
  .codex/environments/environment.toml
  .codex/rules/pip-audit.rules
  .envrc
  .github/workflows/cleanup-test-artifacts.yaml
  .github/workflows/create-release.yaml
  .github/workflows/deploy-docker-image.yaml
  .github/workflows/deploy-to-pypi.yaml
  .github/workflows/lint.yaml
  .github/workflows/pytest-full.yaml
  .github/workflows/pytest-sanity.yaml
  .github/workflows/update-docs.yaml
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
  AGENTS.md
  DEV_README.md
  dev.Dockerfile
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/pandas.txt
  requirements/polars.txt
  requirements/requirements.txt
  requirements/transformers.txt
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

SDK-54: Docs update add badges and links (#125)
  README.md
Due: none

SDK-89: Use huggingface_hub for model access validation
  hirundo/_model_access.py
  hirundo/llm_behavior_eval.py
  hirundo/unlearning_llm.py
  pyproject.toml
  tests/test_model_access.py
  uv.lock
Due: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Bump `huggingface-hub` version to minimum 1.0.0 (for compatibility issues)
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix agent PR comments
  hirundo/_llm_sources.py
  hirundo/_model_access.py
  hirundo/llm_behavior_eval.py
  tests/test_llm_behavior_eval_model_access.py
Due: basedpyright

Fix Pydantic model configuration
  hirundo/llm_behavior_eval.py
  hirundo/llm_behavior_eval_results.py
Due: basedpyright

Update `authlib` to `1.6.7` to fix vulnerability
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Add docstring to new validation functions
  hirundo/_model_access.py
Due: basedpyright

Change `test_llm_behavior_eval_model_access.py` and `test_model_access.py` to use `pytest` instead of `unittest`
  AGENTS.md
  tests/test_llm_behavior_eval_model_access.py
  tests/test_model_access.py
Due: basedpyright

Fix Ruff error
  tests/test_model_access.py
Due: basedpyright

Fix Codex's PR comment about model error
  hirundo/_model_access.py
  tests/test_model_access.py
Due: basedpyright

SDK-90: Upgrade trivy-action to 0.35.0
  .github/workflows/deploy-docker-image.yaml
Due: none

Fix vulnerabilities by locking package versions
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix Baz comment about validation when setting model to run LLM behavior eval with a model ID
  hirundo/llm_behavior_eval.py
Due: basedpyright

Drop `DefaultUtility` to match server behavior
  hirundo/unlearning_llm.py
  tests/unlearning-llm/test_bias_run_info_utilities.py
Due: basedpyright

Refactor to replace boolean environment variable checks with a function & allow skipping HuggingFace validation
  hirundo/_env.py
  hirundo/unlearning_llm.py
  tests/dataset_qa_shared.py
  tests/llm-behavior-eval/llm_behavior_eval_test.py
  tests/test_unlearning_llm_model_create.py
  tests/unlearning-llm/unlearn_llm_behavior_test.py
Due: basedpyright

Add Claude Code skills integration and hirundo skills CLI
  .claude/commands/hirundo-assistant.md
  .claude/skills/hirundo-assistant/SKILL.md
  hirundo/cli.py
  hirundo/skills.py
  hirundo/skills_data/hirundo-assistant.md
  pyproject.toml
Due: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Add Codex support to hirundo skills install
  .claude/skills/hirundo-assistant/SKILL.md
  hirundo/skills.py
  hirundo/skills_data/hirundo-assistant.md
Due: basedpyright

SDK-92: fix docs CSP meta syntax for Firefox
  docs/hirundo.cli.rst
  docs/hirundo.dataset_enum.rst
  docs/hirundo.dataset_qa.rst
  docs/hirundo.dataset_qa_results.rst
  docs/hirundo.git.rst
  docs/hirundo.labeling.rst
  docs/hirundo.llm_behavior_eval.rst
  docs/hirundo.llm_behavior_eval_results.rst
  docs/hirundo.llm_bias_type.rst
  docs/hirundo.logger.rst
  docs/hirundo.rst
  docs/hirundo.storage.rst
  docs/hirundo.unlearning_llm.rst
  docs/hirundo.unzip.rst
  docs/index.rst
  docs/modules.rst
Due: none

Fix Baz PR comment
  tests/unlearning-llm/test_bias_run_info_utilities.py
Due: basedpyright

Fix vulnerabilities
  VULNERABILITIES.md
  pyproject.toml
  tests/unlearning-llm/llm_pipeline_transformers_test.py
  uv.lock
Due: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix `AGENTS.md`
  AGENTS.md
Due: none
