Repository Hirundo-io/hirundo-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: python
  pass_filenames: false
  additional_dependencies:
  - basedpyright==1.37.1

pip-compile:
  name: compile requirements/requirements.txt
  entry: uv
  args:
  - pip
  - compile
  - -o
  - requirements/requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-compile-dev:
  name: compile requirements/dev.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - dev
  - -o
  - requirements/dev.txt
  - -c
  - requirements/requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-compile-pandas:
  name: compile requirements/pandas.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - pandas
  - -o
  - requirements/pandas.txt
  - -c
  - requirements/requirements.txt
  language: python
  additional_dependencies:
  - uv

pip-compile-polars:
  name: compile requirements/polars.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - polars
  - -o
  - requirements/polars.txt
  - -c
  - requirements/requirements.txt
  language: python
  additional_dependencies:
  - uv

pip-compile-docs:
  name: compile requirements/docs.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - docs
  - -o
  - requirements/docs.txt
  - -c
  - requirements/requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-compile-transformers:
  name: compile requirements/transformers.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - transformers
  - -o
  - requirements/transformers.txt
  - -c
  - requirements/requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

bump version to 0.2.3.post1
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Bump 'uv.lock' version to 0.2.3.post1
  uv.lock
Due: none

Fix Greptile's PR comment on CSP
  docs/_templates/github-pages-redirect.html
Due: none

Apply Greptile suggestions from code review
  hirundo/_hirundo_error.py
  hirundo/_run_checking.py
  hirundo/_sse_event_data.py
  hirundo/unzip.py
Due: basedpyright

SDK-79: Guard SSE progress and retry eval stream
  hirundo/_run_checking.py
  hirundo/llm_behavior_eval.py
Due: basedpyright

SDK-79: Skip non-string SSE progress
  hirundo/_run_checking.py
Due: basedpyright

SDK-79: Apply ruff format to llm behavior eval
  hirundo/llm_behavior_eval.py
Due: basedpyright

Try to fix badges
  README.md
Due: none

Try to fix badges part II
  README.md
Due: none

Try to fix badges III
  README.md
Due: none

Add deploy to PyPI badge
  README.md
Due: none

Fix `docs/conf.py` to ensure that docs shows the correct version in the top left corner
  .github/CODEOWNERS
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Update docs and add a new GitHub Actions workflow to ensure that the docs stay up-to-date
  .github/workflows/validate-module-docs.yaml
  DEV_README.md
  README.md
  docs/_examples.py
  docs/hirundo.dataset_enum.rst
  docs/hirundo.dataset_qa.rst
  docs/hirundo.dataset_qa_results.rst
  docs/hirundo.labeling.rst
  docs/hirundo.logger.rst
  docs/hirundo.rst
  docs/hirundo.unlearning_llm.rst
  docs/hirundo.unzip.rst
  docs/index.rst
  pyproject.toml
  scripts/validate_module_docs.py
Due: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix PR comments
  README.md
  docs/conf.py
  docs/dataset_qa_example.py
  docs/index.rst
  docs/llm_unlearning_example.py
  pyproject.toml
  scripts/validate_module_docs.py
Due: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix Greptile's PR comments
  pyproject.toml
  scripts/validate_module_docs.py
Due: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

SDK-86: Fix docs bug improve `README.md` (#206)
  .github/CODEOWNERS
  .github/workflows/validate-module-docs.yaml
  DEV_README.md
  README.md
  docs/conf.py
  docs/dataset_qa_example.py
  docs/hirundo.dataset_enum.rst
  docs/hirundo.dataset_qa.rst
  docs/hirundo.dataset_qa_results.rst
  docs/hirundo.labeling.rst
  docs/hirundo.logger.rst
  docs/hirundo.rst
  docs/hirundo.unlearning_llm.rst
  docs/hirundo.unzip.rst
  docs/index.rst
  docs/llm_unlearning_example.py
  pyproject.toml
  scripts/validate_module_docs.py
Due: basedpyright, pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Allow `codex` to run `pip-audit`
  .codex/rules/pip-audit.rules
Due: none

Install `pip-audit` as a development dependency
  pyproject.toml
  requirements/dev.txt
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Switch to `dependency-groups` for development to match better modern Python development standards
  .envrc
  .pre-commit-config.yaml
  DEV_README.md
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Migrate fully to `uv`
  .github/workflows/cleanup-test-artifacts.yaml
  .github/workflows/create-release.yaml
  .github/workflows/deploy-docker-image.yaml
  .github/workflows/deploy-to-pypi.yaml
  .github/workflows/lint.yaml
  .github/workflows/pytest-full.yaml
  .github/workflows/pytest-sanity.yaml
  .github/workflows/update-docs.yaml
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
  DEV_README.md
  dev.Dockerfile
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/pandas.txt
  requirements/polars.txt
  requirements/requirements.txt
  requirements/transformers.txt
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Add `AGENTS.md`
  AGENTS.md
Due: none

Fix vulnerability scan GitHub Actions workflow scanning the `pyproject.toml` and not `uv.lock`
  .github/workflows/vulnerability-scan.yml
Due: none

Fix vulnerabilities
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Update `AGENTS.md`
  AGENTS.md
Due: none

Upgrade `uv` version in `pyproject.toml` to fix issues with agent usage
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix bugs found by agent code reviewers
  .github/workflows/vulnerability-scan.yml
  dev.Dockerfile
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-compile-transformers

Fix `pip-audit` rule
  .codex/rules/pip-audit.rules
Due: none

Fix agent code review comments
  .github/workflows/cleanup-test-artifacts.yaml
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
Due: none

Update `README.md` and documentation (docs)
  README.md
  docs/hirundo.llm_behavior_eval.rst
  docs/hirundo.llm_behavior_eval_results.rst
  docs/hirundo.llm_bias_type.rst
  docs/hirundo.rst
  docs/index.rst
  docs/llm_behavior_eval_example.py
Due: basedpyright

Drop Python code from `README.md`
  README.md
  docs/dataset_qa_classification_example.py
  docs/dataset_qa_object_detection_example.py
  docs/index.rst
Due: basedpyright

Fix circular import
  hirundo/_sse_event_data.py
Due: basedpyright

Rename `BiasType` to `BBQBiasType`
  docs/llm_behavior_eval_example.py
  docs/llm_unlearning_example.py
  hirundo/__init__.py
  hirundo/llm_behavior_eval.py
  hirundo/llm_bias_type.py
  hirundo/unlearning_llm.py
  tests/llm-behavior-eval/llm_behavior_eval_test.py
  tests/unlearning-llm/unlearn_llm_behavior_test.py
Due: basedpyright

Fix `progress_bar` not being closed if there is an error with the run
  hirundo/llm_behavior_eval.py
Due: basedpyright

Add `deleted_at` to `EvalRunRecord`
  hirundo/llm_behavior_eval.py
Due: basedpyright

Add cleanup for LLM behavior eval runs
  scripts/cleanup_test_artifacts.py
Due: basedpyright

Skip local install in docs workflow
  .github/workflows/update-docs.yaml
Due: none

Add `UnqoverBiasType` as per @mishana 's PR comment
  hirundo/__init__.py
  hirundo/llm_behavior_eval.py
  hirundo/llm_bias_type.py
Due: basedpyright

Fix Cursor's bugbot's comment
  hirundo/_sse_event_data.py
Due: basedpyright

Fix Windows venv activation and uv setup
  .github/workflows/cleanup-test-artifacts.yaml
  .github/workflows/pytest-sanity.yaml
Due: none

Align cleanup workflow uv setup
  .github/workflows/cleanup-test-artifacts.yaml
Due: none

Path conditions:
  basedpyright: any of: \.py$
  pip-compile: any of: pyproject.toml$
  pip-compile-dev: any of: pyproject.toml$
  pip-compile-pandas: any of: pyproject.toml$
  pip-compile-polars: any of: pyproject.toml$
  pip-compile-docs: any of: pyproject.toml$
  pip-compile-transformers: any of: pyproject.toml$
